video{
	/*设置背景视频的大小和显示方式*/
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}
.nav{

	color: white;
	/*设置导航条的大小*/
	width: 80vw;
	height: 6vh;
	border-radius: 1vw;


	/*固定导航条的位置*/
	position: fixed;
	top: 37vh;
	left: 10vw;

	/*设置导航条背景*/
	background-color: rgba(00,00,00,.5);
}
.nav li{
	display: inline-block;
	width: 13.33vw;
	height: 6vh;
	padding: 3px 0;
	box-sizing: border-box;
	border-radius: 1vw;

	/*设置内容水平居中*/
	text-align: center;
	/*设置内容垂直居中*/
	line-height: 6vh;
	/*设置浮动，让li元素水平排列*/
	float: left;
}
.nav li img{
	width: 10.66vw;
	margin: 0.5vh auto;
	border: 1vw rgba(255,255,255,.5) solid;
	border-radius: 1vw;
	background-color: rgba(255,255,255,.5);
	display: none;
}
.nav li:hover{
	background-color: rgba(255,255,255,.5);
}
.nav li:hover img{
	display: block;
}